{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers"
  ],
  "env": {
    "commonjs": {
      "presets": [
        [
          "env",
          {
            "loose": true
          }
        ]
      ]
    }
  }

}